/* Containers */

div.row {
    padding: 5px 0px;
}

#first_macro_row {
    border-top: 2px solid #999;
}

#label_container {
    border-bottom: 2px solid #999;
}

.tokens-0 {
    font-size: large;
    padding: 10px 0px
}

div#macro_annotation_container {
    margin-top: 10px;
}

div#annotation_container {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}


div#macro_ann_type {
    display: inline-grid;
    width: 150px;
    margin: 0px 10px;
}

div.instructions {
    border-radius: 5px;
    background: #fafafa;
    padding: 10px 20px;
}

div.instructions p, h6 {
    margin-bottom: 5px;
}

div.instructions li {
    margin-bottom: 0;
    margin-left: 10px;
}

div.table-header {
    font-weight: bold;
}

/* highlighting */

.token {
    cursor: pointer;
    padding: 2px;
    border-radius: 3px;
}

.highlighted.disagreement {
    background: #333;
    color: red;
}

.highlighted.passive {
  -webkit-filter: opacity(30%);
  filter: opacity(30%);
}

.highlighted.label {
    margin: 2px;
}

.highlighted.CHM {
    background-color: #FFDC00; /* yellow */
}

.highlighted.MAT {
    background-color: #FF851B; /* orange */
}

.highlighted.REF {
    background-color: #FBCEB1; /* apricot */
}

.highlighted.DSC {
    background-color: #FF4136; /* red */
    color: white;
}

.highlighted.PRO {
    background-color: #0074D9; /* blue */
    color: white;
}

.highlighted.PRC {
    background-color: #DDDDDD; /* silver */
}

.highlighted.MTC {
    background-color: #BFFF00; /* lime */
}

.highlighted.PVL {
    background-color: #7FDBFF; /* aqua */
}

.highlighted.PUT {
    background-color: #39CCCC; /* teal */
}

.highlighted.CON {
    background-color: #3D9970; /* olive */
    color: white;
}

.highlighted.CUT {
    background-color: #2ECC40; /* green */
}

.highlighted.CVL {
    background-color: #01FF70; /* lime */
}

.highlighted.SPL {
    background-color: #85144b; /* maroon */
    color: white;
}

.highlighted.SMT {
    background-color: #001f3f; /* navy */
    color: white;
}

.highlighted.CMT {
    background-color: #F012BE; /* fuchsia */
    color: white;
}

.highlighted.PMT {
    background-color: #B10DC9; /* purple */
    color: white;
}

.highlighted.APL {
    background-color: #AAAAAA; /* gray */
}

button#macro_ann_not_rel {
    background-color: #FF4136;
    border-color: #FF4136;
}

button#macro_ann_not_rel:hover {
    background-color: #EE2116;
    border-color: #EE2116;
}

button.ann-flag {
    background-color: #FFDC00;
    border-color: #FFDC00;
}

button.ann-flag:hover {
    background-color: #EECB00;
    border-color: #EECB00;
}


/* Labels */

label.highlighted.label {
    cursor: pointer;
    display: inline;
    font-weight: normal;
    padding: 4px 6px;
    margin: 0px 5px;
}

label.highlighted.label.selected {
    border: 2px solid black;
}

.labels input {
    visibility: hidden;
    margin-left: -15px;
}

.labels {
    border-bottom: 2px solid #999;
}

.labels span {
    margin-right: 15px;
}
